


// 自定义样式
.color-block-large {
    width: 300px;
    height: 80px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    padding-top:30px;
    color: #fff;
    font-weight:500;
    border-radius: 5px;
    box-shadow:  0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}

.color-block-normal {
    width: 200px;
    height: 40px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    padding-top:10px;
    color: #fff;
    font-size: 13px;
    font-weight:500;
    border-radius: 5px;
    box-shadow:  0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

.color-block-tiny {
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    padding-top:12px;
    color: #606266;
    border-radius: 2px;
    font-size: 12px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

.only-block-normal {
    width: 200px;
    height: 40px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    padding-top:10px;
    color: #fff;
    font-size: 13px;
    font-weight:500;
}